fieldset{
    border-radius: 30px;
    border-color: blue;
}
h1{
    text-align: center;
    color: blue;
}
button{
height: 40px;
width: 90px;
border-color:blue ;
border-radius: 12px;;
margin-left: 600px;
}